a{
    text-decoration: none;
    color: inherit;
  }
  
.nav{
   max-width: 170px;
    margin-bottom: 100px;
  }

.item {
    font-size: 23px;
    color: #000000;
  }

.item .active{
    color: #290c8b;
    padding: 5px;
}