*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-wrapper{
  width: 1200px;
  margin: 0 auto;
  
}

.main-content {
  display: flex;
  background-color: rgba(83, 197, 255, 0.67);
}

.asideContainer{
  padding: 15px;
  background: #78219a;
}

.navContainer {
  margin-left: 190px;
}